configuration {
	drun {
		display-name: "Run : ";
        parse-user: true;
        parse-system: true;
	}
    ssh {
        display-name: "SSH Hosts :";
    }
	modes: "drun,run,ssh,combi";
	font: "Inter 10";
	combi-modi: "drun,ssh";
    show-icons: true;
}
@theme "~/.config/rofi/themes/centered-translucent.rasi"
//@theme "~/.config/rofi/themes/centered.rasi"