configuration {
	drun {
		display-name: "Run : ";
	}
	modi: "window,drun,ssh,combi";
	font: "inconsolata 10";
	combi-modi: "window,drun,ssh";
    show-icons: true;
}
@theme "~/.config/rofi/themes/centered.rasi"