configuration {
	drun {
		display-name: "Run : ";
	}
    ssh {
        display-name: "SSH Hosts :";
    }
	modi: "window,drun,ssh,combi";
	font: "Inter 10";
	combi-modi: "window,drun,ssh";
    show-icons: false;
}
@theme "~/.config/rofi/themes/centered.rasi"